@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #fea9b1;
}

body {
  background-image: linear-gradient(to bottom, #fea9b1 30%, #fe7da0 100%);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  font-family: "Raleway", sans-serif;
}

h1,
h2,
h3 {
  font-family: "Pacifico", cursive;
}

a {
  text-decoration: none;
}

/* game page */

.relative {
  position: relative;
  display: inline-block;
}

.cloud-word {
  position: absolute;
  top: 64%;
  left: 52%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
}

/* spinner */

.loader {
  width: 48px;
  height: 48px;
  display: block;
  margin: 15px auto;
  position: relative;
  color: #fff;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after,
.loader::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  width: 24px;
  height: 24px;
  top: 50%;
  left: 50%;
  transform: scale(0.5) translate(0, 0);
  background-color: #fff;
  border-radius: 50%;
  animation: animloader 1s infinite ease-in-out;
}
.loader::before {
  background-color: #e93460;
  transform: scale(0.5) translate(-48px, -48px);
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animloader {
  50% {
    transform: scale(1) translate(-50%, -50%);
  }
}
